/* Reset css */

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}

html,body{
display: block;
height: auto; width: 100%;
overflow: auto;
}

ul,li,a {
margin: 0; padding: 0;

text-decoration: none;
}


/* Main */

body {
  font-family: "Comic sans MS";
  color: #3F34E8;
}

a {
  font-size: 25px;
  color: #3F34E8;
  font-family: "Comic sans MS";
  background-image:-webkit-linear-gradient(left, #5A4CFF, #4CBFFA);
  color: white;
  display: inline-block;
  position: center;
  margin: 40px 20px;
  padding: 5px;
  border-radius: 15px 20px;
}

.logo {
  display: block;
  height: 100%;
  float: right;
  padding-right: 50px;
}

.avatar {
  height: 100%;
  float:left;
  padding-left: 25px;
}

.main, .main-header, .main-container, .main-footer {
      display: block;
      width: 100%;
}

.main {
      height: 100%;
      background-color: #E8F9FF;
      border: none;
      overflow: auto;
}

.main-header {
    width: 100%;
    height: 200px;
    display: inline-block;
    background-image: url("animals3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100% ;
    border: none;
    text-align: center;
    background-color: #E8F9FF;
    position: fixed;
    top: 5px;
    z-index: 1;
    }

.main-container {
        height: auto;
        border: none;
}

.main-footer {
      width: 100%;
      height: 50px;
      display: inline-block;
}

.content1, .content2, .content3, .content4, .content5 {
  border: none;
  height: 100%;
  width: 100%;
  display: block;
}

div:target {
    padding-top: 200px;
    margin-top: -200px;
}

.content1 {
background-color: #5A4CFF;
color: white;
padding: 210px 0px 10px 25px;
}

.content2 {
  padding-left: 25px;
  padding-bottom: 10px;
}

.content3 {
background-color: #5A4CFF;
padding-left: 25px;
color: white;
padding-bottom: 10px;
}

.content4 {
width: 50%;
padding-left: 25px;
background-color: #5A4CFF;
color: white;
float:left;
}

.content5 {
width: 50%;
padding-left: 25px;
background-color: #5A4CFF;
text-align: right;
display: inline-block;
color: white;
}

.content6 {
  display: inline-block;
  width: auto;
  margin: 10px 33.333333%;
  padding:  10px 0px 10px 25px;
  background:radial-gradient(#4CBFFA, #5A4CFF);
  border-radius: 25px;
  color: white;

}

.content6 button {
  margin-bottom: 10px;
}

.button {
  float: right;
}

.lignespace {
  line-height: 5px;
}
 .form {
   padding-right: 25px;
 }

.liste {
  display: block;
  position: relative;
  left: 20px;
}


#présentation:before {
    display: block;
    content: "";
    height: 200px;
    margin: -200px 0 0;
}


#projets:before {
    display: block;
    content: "";
    height: 200px;
    margin: -200px 0 0;
}

th, td, tr {
  border: none;
  padding: 10px;
}

#tb1, #tb2 {
  display: inline-table;
  vertical-align: top;
}

.progress-container {
 width: 100%;
 height: 5px;
 background: white;
 position:fixed;
 top: 0px;
 }

.progress-bar {
 height: 5px;
 background: #4eabfb;
 width: 0%;
}
